@model Login
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Login";
}

<body style="background-color:cadetblue">
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }
    <section>
        <main class="form-signin">
            <form asp-controller="Login" asp-action="Login" method="post">
              <div class="form-outline mb-4">
                <label for="login" class="form-label">Email</label>
                <input type="email" asp-for="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        @Html.ValidationMessageFor(x => x.Email)
              </div>
              <div class="form-outline mb-4">
                <label for="senha" class="form-label">Senha</label>
                <input type="password" asp-for="Password" class="form-control" id="exampleInputPassword1">
                        @Html.ValidationMessageFor(x => x.Password)
              </div>
                <button type="submit" class="btn btn-primary btn-block w-100">Entrar</button>
            </form>
            <br />
            <div>
                Não possui login? <a asp-area="" asp-controller="Clientes" asp-action="Create">Cadastre-se</a>
            </div>
        </main>
    </section>
</body>
